
<footer class="text-center text-white" style="background-color: #45637d;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Iframe -->
      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="ratio ratio-16x9">
              <iframe
                class="shadow-1-strong rounded"
                src="https://www.youtube.com/embed/szGdpcm7Xvg?si=jlj0imY8EbyGNuDl"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Estudiantes: Rodrigo Coca Orozco ; Jhon Marco Rivero Acarapi © 2023 Copyright:
      <a class="text-white mx-2" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      <a style="color: #3b5998;" href="#!" role="button">
        <i class="fab fa-facebook-f fa-lg mx-2"></i>
      </a>
      
      <!-- Twitter -->
      <a style="color: #55acee;" href="#!" role="button">
        <i class="fab fa-twitter fa-lg mx-2"></i>
      </a>
      
      <!-- Google -->
      <a style="color: #dd4b39;" href="#!" role="button">
        <i class="fab fa-google fa-lg mx-2"></i>
      </a>
      
      <!-- Instagram -->
      <a style="color: #ac2bac;" href="#!" role="button">
        <i class="fab fa-instagram fa-lg mx-2"></i>
      </a>
    </div>
    <!-- Copyright -->
  </footer>