
<div class="container my-3">
    
<mdb-carousel [controls]="true" [indicators]="true" [dark]="false">
    <mdb-carousel-item>
      <img
        src="https://png.pngtree.com/background/20230612/original/pngtree-lord-jesus-stands-with-his-arms-out-in-front-of-clouds-picture-image_3187092.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>"Ama a tu prójimo como a ti mismo."</h5>
        <p></p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://png.pngtree.com/background/20230611/original/pngtree-jesus-embracing-a-woman-picture-image_3171793.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>"Yo soy el camino, la verdad y la vida."</h5>
        <p></p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://wallpaper.dog/large/20612673.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>"No juzguéis, y no seréis juzgados."</h5>
        <p></p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <hr>
  <h2 class="text-center">6 de los Versículos más Impactantes de la Biblia</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://www.churchofjesuschrist.org/imgs/26fa4616935a4999d18342da45266118164b55c1/full/1280%2C/0/default" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">1. Filipenses 2:5-8</h5>
          <p class="note note-success">
            La actitud de ustedes debe ser como la de Cristo Jesús, quien, siendo por naturaleza Dios, no consideró el ser igual a Dios como algo a qué aferrarse. Por el contrario, se rebajó voluntariamente, tomando la naturaleza de siervo y haciéndose semejante a los seres humanos. Y, al manifestarse como hombre, se humilló a sí mismo y se hizo obediente hasta la muerte, ¡y muerte de cruz!
        (Filipenses 2:5-8)
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/fotos-premium/pintura-jesus-abrazando-dos-ninas_81048-7337.jpg?w=2000" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">2. Juan 3:16</h5>
          <p class="note note-success">
            Porque tanto amó Dios al mundo que dio a su Hijo unigénito, para que todo el que cree en él no se pierda, sino que tenga vida eterna.
(Juan 3:16)
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.pinimg.com/originals/4c/e5/83/4ce58385f0be95f097589529c20fd3a7.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">3. 1 Juan 1:9</h5>
          <p class="note note-success">Si confesamos nuestros pecados, Dios, que es fiel y justo, nos los perdonará y nos limpiará de toda maldad.
            (1 Juan 1:9)</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://arquibogota.org.co/sites/default/files/migrate/16-12-2020-03-43/jespus-hija-de-jairo-3jpg.jpg" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">4. Hechos 4:11-12</h5>
          <p class="note note-success">
            Jesucristo es “la piedra que desecharon ustedes los constructores, y que ha llegado a ser la piedra angular”. De hecho, en ningún otro hay salvación, porque no hay bajo el cielo otro nombre dado a los hombres mediante el cual podamos ser salvos.
(Hechos 4:11-12)
          </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="https://www.lapatilla.com/wp-content/uploads/2021/04/jesucristo.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">5. 1 Timoteo 2:5-6a</h5>
            <p class="note note-success">Porque hay un solo Dios y un solo mediador entre Dios y los hombres, Jesucristo hombre, quien dio su vida como rescate por todos.
              (1 Timoteo 2:5-6a)
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://img.freepik.com/fotos-premium/jesus-corona-espinas_582637-4394.jpg?w=2000" class="card-img-top" alt="Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">6. Hebreos 13:8</h5>
            <p class="note note-success">
              Jesucristo es el mismo ayer y hoy y por los siglos.
(Hebreos 13:8)
            </p>
          </div>
        </div>
      </div>
      <!-- <ol class="list-group list-group-light list-group-numbered">
    @for (m of versiculos; track m.id) {
      <li class="list-group-item">{{m.titulo}}-{{m.texto}}</li>
    }
  </ol> -->
  </div>
</div>


